html, body {
  width:  100%;
  height: 100%;
  margin: 0px;
  font-family: cursive;
}

body{
    padding-top: 50px;
}

#btn-main{
    padding-bottom: 10px;
    widows: 80px;
    margin-left: auto;
    margin-right: auto;
}

#about{
    padding: 30px;
    font-size: medium;
}

#title{
    padding: 15px;
    text-align: center;
    font-size: x-large;
}

#details{
    padding: 10px;
    font-size: medium;
    text-align: center;
}

canvas {
    padding: 10px;
    margin: auto;
    display: block;
    width: 800px;
}